.extraTopMargin6px{
	margin-top: 6px;
}

.extraTopMargin20px{
	margin-top: 20px;
}

body{
    background: #E3F2FD;
}

input[type="text"]{
    width: 200px;
}

input[type="Date"]{
    width: 175px;
}

input[type="select"]{
    width: 150px;
}
select{
    width: 150px;
}

.navbar-profile-image {
    padding: 6px 10px;
    float: right;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand-image {
    padding: 6px 15px;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.item-progress-edit{
    border-radius: 25px;
    margin: 25px;
    background: #616161;
    padding: 20px; 
    width: auto;
    height: auto;
}

.table-striped>tbody>tr:nth-of-type(even){
        background-color: #f9f9f9
}

